.add-new-card{
  
    textarea{
        font-family: 'Roboto', sans-serif;
        background: white;
        border: none;
        box-shadow: none;
        height: auto;
        resize: none;
        
        margin-bottom: 4px;
        max-height: 162px;
        min-height: 54px;
        overflow-y: auto;
        width: 250px;
        margin: auto;
        padding: 5px;
        border-radius: 3px;
        box-shadow: 0 1px 0 rgba(9,30,66,.25);
    }
    .save-btn{
        width: 100px;
        height: 35px;
        background-color: #62BD50;
        color:white;
        margin-left:4px;
        margin-top: 5px;
        margin-bottom: 5px;
        border:0px;
        display: inline;
        border-radius: 3px;
        outline: none;
        &:hover{
            background-color: #51c13a;
        }
    }

    .cancel-btn{
        width: 20px;
        height: 25px;
        font-size: 1rem;
        display: inline;
        margin-left: 5px;
        margin-top: 10px;
        margin-bottom: 5px;
        border:0px;
       
        outline: none;
        &:hover{
            color:rgb(33, 33, 33)
        }
    }

    .cancel-btn::before{

        font-family: "fa";
        content: "\f00d";
    }

    form{
        margin-top:5px;
        margin-right: 3px;
    }

    // .add-another-card::before {
    //     font-family: "fa";
    //     content: "\f067";
    // }
}