.edit-group-container {
    width: 276px;
    background: #EBECF0;
    position: fixed;
    z-index: 4;
    border-radius: 3px;
    margin-left: 220px;
    min-height: 100px;
    margin-left: 100;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;

    button {
        padding: 5px;
        background-color: #EBECF0;
        display: block;
    }

    form {
        width: 259px;
        margin:auto;
        margin-top:10px;
    }
  


}