.group-list-container {
    margin-top: 132px;
    padding-left: 8px;
    display: flex;
    // flex-direction: column;
    .group-list {
        display: flex;
    }

    .add-another-list {
        width: 250px;
        height: 35px;
        border-radius: 3px;
        padding: 5px;
        background-color: rgba(248, 248, 248, 0.71);
        color: #5e6c84;
        font-size: 14px;
        line-height: 20px;
        font-weight: 600;
        margin: 0;
    }
    .add-another-list::before {
        font-family: "fa";
        content: "\f067";
    }

    @media (min-width: $narrow-breakpoint) {
        margin-top: 88px;
    }
}
