.uploader {
    width: 300px;
    background-color: #E0E3E8;
    display: flex;


    input{
        visibility: hidden;
    }

    label{
        cursor: pointer;
        width: 300px;
        background-color: white;
        border-radius: 3px;
        margin-left: 92px;
        text-align: center;

    }
}