.uploader {
    width: 300px;
    height: 300px;
    display: flex;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    label {
        display: inline-block;
        cursor: pointer;
        padding: 10px 20px;
        background-color: white;
        background-color: #e0e3e8;
        border-radius: 3px;
    }
}
