// flex helpers

.flex {
    display: flex;

    > *.full {
        flex: 1;
    }
    &.column {
        flex-direction: column;
    }
    &.justify-center {
        justify-content: center;
    }
    &.align-center {
        align-items: center;
    }
    &.space-between {
        justify-content: space-between;
    }
    &.flex-end {
        align-items: flex-end;
    }
    &.wrap {
        flex-wrap: wrap;
    }
    &.col {
        flex-direction: column;
    }
}

.app-name {
    font-family: TechMono;
}
.board-title {
    font-family: "Share Tech Mono", monospace;
    margin-left: 8px;
}
.screen {
    cursor: pointer;
    background: rgba(0, 0, 0, 0.64);
    position: fixed;
    z-index: 5;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
}

// Media helpers

.square-ratio {
    @include aspect-ratio(1, 1);
}
.video-ratio {
    @include aspect-ratio(16, 9);
}
.portrait-ratio {
    @include aspect-ratio(9, 16);
}
