@font-face {
    font-family: "Roboto", sans-serif;
    src: url(../../fonts/Roboto/Roboto-Regular.ttf);
}
@font-face {
    font-family: "fa";
    src: url(../../fonts/Fa/fa-solid-900.ttf);
}
@font-face {
    font-family: "TechMono";
    src: url(../../fonts/Share_Tech_Mono/ShareTechMono-Regular.ttf);
}

// @font-face {
//     font-family: 'Share Tech Mono', monospace;
//     src: url(../../fonts/Roboto/ShareTechMono-Regular.ttf);
// }

// @font-face {
//     // font-family: caveat;
//     // src: url(../../fonts/Caveat/Caveat-Regular.ttf);
// }
// @font-face {
//     // font-family: montserrat;
//     // src: url(../../fonts/Montserrat/Montserrat-Regular.ttf);
// }
